In [7]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [8]:
# Sample data to play with.
#y = pd.DataFrame([10, 19, 28, 32, 43, 54, 67, 84, 83, 90, 101])
#x = pd.DataFrame([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11])

#plt.scatter(x, y)

In [13]:
df=pd.read_csv('law.csv', header = 0)

In [12]:
df.head(20)

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3,nan
4,Adams Village,"1,861",0,0,NaN,0,0,0,12,2,10,0,0,nan
5,Addison Town and Village,"2,577",3,0,NaN,0,0,3,24,3,20,1,0,nan
6,Akron Village,"2,846",3,0,NaN,0,0,3,16,1,15,0,0,nan
7,Albany,"97,956",791,8,NaN,30,227,526,"4,090",705,"3,243",142,NaN,nan
8,Albion Village,"6,388",23,0,NaN,3,4,16,223,53,165,5,NaN,nan
9,Alfred Village,"4,089",5,0,NaN,0,3,2,46,10,36,0,NaN,nan
10,Allegany Village,"1,781",3,0,NaN,0,0,3,10,0,10,0,0,nan
11,Amherst Town,"118,296",107,1,NaN,7,31,68,"2,118",204,"1,882",32,3,nan
12,Amityville Village,"9,519",9,0,NaN,2,4,3,210,16,188,6,1,nan
13,Amsterdam,"18,182",30,0,NaN,0,12,18,405,99,291,15,0,nan
14,Arcade Village,"2,053",0,0,NaN,0,0,0,39,3,35,1,0,nan
15,Ardsley Village,"4,523",5,0,NaN,0,3,2,33,4,28,1,0,nan
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0,nan
17,Attica Village,"2,522",2,0,NaN,0,0,2,5,0,4,1,0,nan
18,Auburn,"27,270",96,1,NaN,20,22,53,859,132,721,6,NaN,nan
19,Avon Village,"3,333",1,0,NaN,0,1,0,25,3,20,2,NaN,nan