In [15]:
import pandas as pd
import numpy as np
df=pd.DataFrame()
df['age'] = [28, 42, 27, 24, 35, 54, 35, 37]

In [16]:
df.head(8)

   age
0   28
1   42
2   27
3   24
4   35
5   54
6   35
7   37

In [18]:
df.columns

Index(['age'], dtype='object')

In [19]:
sum(df['age']) / len(df['age'])

35.25

In [20]:
np.mean(df['age'])

35.25

In [25]:
import statistics
statistics.median(df['age'])

35.0

In [22]:
np.median(df['age'])

35.0

In [26]:
statistics.mode(df['age'])

35

In [27]:
 df['age'].var

<bound method Series.var of 0    28
1    42
2    27
3    24
4    35
5    54
6    35
7    37
Name: age, dtype: int64>

In [28]:
np.std(df['age'], ddof=1)

9.617692030835672